.logo a{color:#e6af4b;}
.content .sub-logo, .section4 h3, .testimonials-box h4, .close-sub span:nth-child(4),#section5 h3  { color:#e6af4b;}
.store-btn.app { background-color:#e6af4b;}
.close-sub{border-color:#e6af4b;}
.menu-button::before, .menu-button::after, .menu-button span {
    background: #e6af4b;
}
.onepage-pagination li a.active:before, .onepage-pagination li a:hover:before{border-color: #e6af4b !important;}
.onepage-pagination li a.active, .onepage-pagination li a:hover{ background-color: #e6af4b !important; border-color: #e6af4b !important;}

/*====== Header Menu =======*/
.nav > li.active > a, .nav > li > a:hover, .nav > li > a:focus{ color: #e6af4b; border-color: #e6af4b;}
.social-icons ul li a:hover i,.social-icons ul li a:focus i, .close-bar,.owl-theme .owl-controls .owl-nav div{ background-color:#e6af4b;}
.navbar-toggle {
    background-color: #e6af4b;
    border-color: #e6af4b;
}
/*====== Primary Button ======*/
.btn-primary {background-color: #e6af4b;border-color: #e6af4b;}
.bx-wrapper .bx-controls-direction a{ background-color: rgba(90, 200, 251,0.5); }
.title:before {
    background-color:#e6af4b;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #e6af4b !important;border-color: #e6af4b !important;}
.amazing-feature-text .fa,.Features-Summary table tbody tr td .child-iconWrap i,.inner-box i{
    color:#e6af4b;
}
.subtitle_left {
    border-left: 4px solid #e6af4b;
}
#fp-nav ul li a{
    border: 3px solid #e6af4b;
}
#fp-nav ul li a:before{
    border: 1px solid #e6af4b;
}
#fp-nav ul li a span, .fp-slidesNav ul li a,.Features-Summary table tbody tr td:last-of-type{
    background: #e6af4b;
}
.Features-Summary table thead tr th:last-of-type,.client-block{
    background: #e6af4b;
}
.team-position p ,.subtitle_bolder{
    color:#e6af4b !important;
}
.btn-primary:hover, .btn-primary:focus,.btn-primary:active{
    background: #fff !important;
    color: #e6af4b !important;
    border-color: #e6af4b !important;
    outline: none !important;
    box-shadow: none;
}
.testimonials-box h4  {
    color:#e6af4b;
}
#page-testimonials h3 {
    color: #e6af4b;
}
.subscribe-box .btn {
    border:1px solid #e6af4b;
}
/*
Pro features
*/
/*Accordion*/
.icon-color {
    color: #e6af4b;
}
.accordion .accordion_title a:hover, .accordion .accordion_title a[aria-expanded="true"] {
    background: #e6af4b !important;
}
.features_tabs > li.active > a, .features_tabs > li.active > a:hover, .features_tabs > li.active > a:focus {
    background:#e6af4b;
    color: #fff;
}
