/** TABLE OF CONTENTS **/

/**
    01. Custom css
    02. General css
    03. Header Menu
    04. Logo
    05. Close btn
    06. Social-icons
    07. Home Page
    08. Magical Feature Section
    09. Fetures Section
    10. Video Section
    11. Testimonials Section
    12. Team Section
    13. Subscribe Section
    14. Owl-carousal Buttons
    15. Download App
    16. Footer
    17. Contact-form
    18. Features-wrap
    19. Modal
    20. FeaturesWrap-table
    21. Color-picker
    22. Map css
**/

/*======  01.Custom css starts ======= */
*:focus{
    outline: none;
}
html {
    font-size: 20px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
img {
    border: 0;
    max-width: 100%;
}
p {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    line-height: 1.6;
}
a,
:before,
:after,
.btn,
i,
span {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.clear:before,
.clear:after {
    display: table;
    content: "";
}
.clear:after {
    clear: both;
}
h4{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-weight: 100;
}

.js .pages-nav__item{
    display: block !important;
}
.pages-nav__item--small{
    width: 100% !important;
}
/*======  Custom css ends ======= */

/*======  02.General css starts ======= */
.mb40{
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mb30 {
    margin-bottom: 30px;
}
.mr5{
    margin-right: 5px;
}
.p10{
    padding: 10px;
}
.c_white{
	color:#fff !important;
}
.mr15{
    margin-right: 15px;
}

/*======  General css ends ======= */

/*======  Background-image css ======= */
.bg-layer {
    background: rgba(0, 0, 0, 0.98);
    opacity: 0.45;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.image-background-white{
    background-color: #fff;
}

/*====== 03.Header Menu starts ======= */

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
}
.header-box {
    background-color: #fff;
    min-height: 70px;
    padding: 10px 0;
    display: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fix_menu{
    display: block;
}
.header-box .container {
    position: relative;
}
/*====== Header Menu ends ======= */
/*logo*/

.logo {
    font-family: arizonia , sans-serif ;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 40px;
    padding-left: 20px;
}
.logo a {
    color: #00CCD6;
}
/* home page */

.home-background-images {
    background-image: url("../images/home-bg.jpg") !important;
    background-size: cover;
    z-index: -2;
}
.sub-logo {
    color: #00CCD6;
    font-family: arizonia, sans-serif;
    font-size: 150px;
    margin-top: 6%;
    padding-left: 24px;
    text-align: left;
}
#page-home .content h1 {
     font-size: 40px;
    color: #fff;
    font-weight: 400;
}
#page-home .content h1:before {
    content: "";
    height: 175px;
    left: 0;
    position: absolute;
    margin-top: -40px;
    width: 45%;
    z-index: 0;
}
.home_ph_txt p{
    color: #fff;
    padding: 30px 0;
}
.home_ph_container{
    z-index: 1;
}
.store-btn {
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    max-width: 225px;
    min-height: 70px;
    padding: 7px 22px 7px 70px;
    position: relative;
    text-align: left;
    width: 100%;
}
.store-btn:first-child {
    margin-left: 0;
}
.store-btn img {
    bottom: 0;
    left: 19px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}
.store-btn span {
    font-size: 12px;
}
.store-btn h3 {
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.store-btn.app {
    background-color: #00CCD6;
}
.store-btn.googie-play {
    background-color: #29abe2;
}
.home_ph_2{
    position: absolute;
    width: 270px;
    right: 0;
    z-index: -1;
    top: 50%;
    margin-top: -268px;
}

/*======  04.Close btn starts ======= */

.close-sub {
    border: 2px solid #0fd59d;
    border-radius: 100%;
    display: block;
    height: 43px;
    padding: 11px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 43px;
    cursor: pointer;
}
.close-bar {
    background-color: #0fd59d;
    display: block;
    height: 2px;
    margin: 3px auto;
    width: 17px;
}
.close-sub span:nth-child(4) {
    font-weight: 300;
    font-size: 28px;
    margin: -14px auto;
    opacity: 0;
    display: none;
    width: 13px;
    color: #0fd59d;
}
.close-sub.active span:nth-child(4) {
    opacity: 1;
    display: block;
}
.close-sub.active span:nth-child(1),
.close-sub.active span:nth-child(2),
.close-sub.active span:nth-child(3) {
    opacity: 0;
    display: none;
}
/* Link full media*/

.link {
    font-size: 0.85em;
    /*font-weight: bold;*/

    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.link:hover,
.link:focus {
    color: #0fd59d;
}
.link--page {
    display: block;
    color: #cecece;
}
.link--page:not(.link--faded)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin: 5px 0 0 -15px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}
.link--page:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.link--faded {
    color: #324c5b;
}
.link--faded:hover,
.link--faded:focus {
    color: #fff;
    background: #0fd59d;
    padding: 10px;
}
.link--page.link--faded {
    font-size: 0.65em;
}
.link--social {
    font-size: 1.5em;
    margin: 0 0.75em;
}
.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

/*======  Close btn ends ======= */

/*======  social-icons  ======= */

.social-icons ul li {
    display: inline-block;
    margin: 3px 0;
}
.social-icons ul li a i {
    width: 43px;
    height: 43px;
    color: #fff;
    background-color: #324c5b;
    font-size: 24px;
    text-align: center;
    line-height: 43px;
    border-radius: 100%;
}
.social-icons ul li a:hover i,
.social-icons ul li a:focus i {
    background-color: #0fd59d;
}
#page-home {
    background-size: cover;
}
#page-testimonials,
#page-about
/*,#page-home, #page-about, #page-features, #page-screenshorts, #page-download,  */

{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    /*display : table;
		table-layout: fixed;
    */
}

/*/#page-testimonials .testimonial /*, #page-home .home, #page-about .about, #page-features .features, #page-screenshorts .screenshorts, #page-download .download *{
    display: table-cell;
    vertical-align: middle;
}*/
#page-features,#page-twitter{
    background-color: #EDF1F2;
}
#page-subscribe{
    background-color: #fff;
}
.title {
    font-size: 35px;
    font-weight: 200;
    color: #124b62;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    letter-spacing: 2px;
}
.title.title-left {
    text-align: left;
    margin-bottom: 40px;
}
.title.title-left:before {
    left: 0;
    right: auto;
}

.about ul {
    padding: 18px 0;
}
.about-feature li {
    font-size: 14px;
    padding-bottom: 10px;
}
.about-feature i {
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
}
.amazing-feature-text {
    font-size: 14px;
    line-height: 1.55556em;
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 1.55556em;
    padding-left: 2.11111em;
    position: relative;
    font-weight: 400;
    opacity: 0.9;
}
.amazing-feature-text .fa {
    font-size: 1.33333em;
    left: 0;
    line-height: 1.16667em;
    position: absolute;
    top: 0;
    color: #00CCD6;
}
.about-feature li{
    display: inline-block;
    margin-right: 30px;
    width: 100px;
    text-align: center;
}
.about-feature-li{
    color: #fff;
    border-radius: 60%;
    padding: 5px;
    cursor: pointer;
    width: 60px;
    margin: 0 auto 15px auto;
}
.about-feature-li:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.about-bgcolor-1{
    background-color: #ff7e5b;
}
.about-bgcolor-2{
    background-color: #3cb6b6;
}
.about-bgcolor-3{
    background-color: #c183d6;
}
.about-bgcolor-4{
    background-color: #ffb85b;
}

/* About */

#page-about {
    background-color: #fff;
    background-image: url("../images/feature-bg.jpg");
    background-size: cover;
}

/*.about {padding-top: 70px;}*/

.about ul {
     padding: 18px 0;
}
.about-feature li {
    font-size: 14px;
    padding-bottom: 10px;
}
/*======  Video Section  ======= */

.video-icon {
    position: absolute;
    top: 50%;
    font-size: 53px;
    left: 50%;
    margin-left: -26px;
    margin-top: -20px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.video-ph img {
    display: inline-block;
    width: 250px;
}
.video--app {
    left: -44px;
    position: relative;
    top: 70px;
    width: 226px;
    z-index: -1;
}
/*Feature */
.feature_content img{
    width: 800px;
    margin: 0 auto;
}
.features_img{
	position:absolute;
}
.features-block .row{
    position: relative;
    overflow: hidden;
}
.features-block h2{
    color: #124b62;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.feature_content h4{
    padding: 30px 0;
}
.features-btn{
    position: relative;
    bottom: 1em;
}
.features-icon {
    background: #FF7E5B;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 30px;
}
.features-icon-color1 {
    background: #ff7e5b;
}
.features-icon-color2 {
    background: #3CB6B6;
}
.features-icon-color3 {
    background: #C183D6;
}
.features-icon-color4 {
    background: #5BB8FF;
}
.features-icon-color5 {
    background: #EC768C;
}
.features-icon-color6 {
    background: #FFB85B;
}
.features-btn{
    position: relative;
    bottom: 1em;
}
.listing-box ul li {
    margin-top: 40px;
}
.listing-box ul li:first-child {
    margin-top: 0;
}
.listing-box ul li h3 {
    font-weight: 600;
    margin-top: 0;
    color: #07598d;
    padding-bottom: 10px;
    position: relative;
}
.listing-box ul li h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 165px;
    height: 1px;
    background-color: #cecece;
}
.listing-box ul li p {
    font-size: 14px;
}
.listing-box ul li i {
    font-size: 22px;
    color: #fff;
    position: absolute;
}
.listing-box.left ul li {
    padding-right: 65px;
    text-align: right;
}
.listing-box.left ul li i {
    right: 0;
}
.listing-box.right ul li {
    padding-left: 65px;
}
.listing-box.right ul li i {
    left: 0;
}
.listing-box.left ul li h3:before {
    right: 0;
}
.listing-box.right ul li h3:before {
    left: 0;
}
.mid-image {
    width: 200px;
    margin: 0 auto;
    position: relative;
}
.highlight-right {
    animation: 2s ease-in 0s normal none infinite running;
    margin-top: -100px;
    position: absolute !important;
    right: -20px;
    z-index: 10 !important;
}
.highlight-left {
    animation: 2s ease-in 0s normal none infinite running;
    left: -20px;
    margin-top: -100px;
    position: absolute !important;
    z-index: 10 !important;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        transform: scale(0);
    }
}
@-webkit-keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        transform: scale(0)
    }
    70% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        transform: scale(0)
    }
}

.more_feature_txt{
       font-size: 16px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #07598d;
}
/*Screenshort */

#page-screenshorts {
    background: #EDF1F2;
}

/* Owl-carousal Buttons */
.owl-controls{
    margin-top: 15px;
}
.owl-theme .owl-controls .owl-nav div {
    background: #00CCD6;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 0;
    height: 50px;
    margin: 5px;
    opacity: 0.7;
    padding: 7px 20px;
    width: 50px;
}
.owl-dots .owl-dot.active,
.owl-dots .owl-dot:hover {
    background: #ff3366;
    border-color: #ff3366;
}
.owl-dots .owl-dot+.owl-dot,
.owl-dots .owl-dot {
    border-color: #ff3366;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    height: 15px;
    margin: 5px 3px;
    opacity: 0.5;
    width: 15px;
}
.owl-theme .owl-controls .owl-nav div.owl-prev::before {
    content: "\f104";
    font-family: "FontAwesome", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
}
.owl-theme .owl-controls .owl-nav div.owl-next::before {
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
}
/*Testimonial*/


.testimonial-background {
    overflow: hidden;
    position: relative;
}
.testimonial_section{
	background-image:url("../images/slide-bg.jpg");
	background-size:cover;
}


#page-testimonials h3 {
    font-size: 20px;
    color: #00CCD6;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
}
.testimonials-box p{
    color: #e1e1e1;
}
.valign-video{
    display: flex;
    align-items:center;
}
.valign-wrapper {
    display: flex;
    align-items: center;
	height:100%;
}
.testimonials-slider .bx-controls {
    display: none;
}
.testimonials-box {
    padding: 0 30px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.testimonials-box:before {
    content: "\f10d";
    position: absolute;
    left: 0;
    top: -10px;
    font-family: FontAwesome, sans-serif;
    color: #cfcfcf;
}
.testimonial-background::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 500em;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    background: transparent url(../images/slide-bg.jpg);
    background-size: 28% 100%;
}
.testimonials-box:after {
    content: "\f10e";
    position: absolute;
    right: 0;
    bottom: -10px;
    font-family: FontAwesome, sans-serif;
    color: #cfcfcf;
}
.testimonials-box h4 {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #00CCD6;
    text-transform: uppercase;
    margin-top: 30px;
}
.testimonials-box h4 i {
    font-size: 14px;
    text-transform: lowercase;
    padding-right: 5px;
}

.subscribe-back-img {
    background-image: url("../images/subscribe-bg.png") !important;
	background-size:contain !important;
}
.subscribe-center {
    padding: 100px 10px;
}
.suscribe-mail-img {
    display: inline-block;
}
.subscribe-text h1 {
    color: #666;
}
.subscribe-img img {
    height: 550px;
    margin-top: 3em;
}
.subscribe-btn {
    border: 1px solid #fff;
}
.subscribe-btn:hover {
    opacity: 0.6;
}
.subscribe-box {
    position: relative;
    width: 400px;
    display: inline-block;
}
.subscribe-box .btn {
    border: 1px solid #00CCD6;
    font-size: 17px;
    font-weight: bold;
    height: 45px;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 120px;
    top: 20px;
}
.subscribe-box .form-control {
    color: #555;
    float: left;
    font-size: 15px;
    width: 100%;
    height: 45px;
    margin: 20px 0;
}

/*======  Download  ======= */
#download-ph2{
    margin-bottom: 15px !important
}
#page-download {
    background-image: url(../images/cont_back.png);
}
#page-download:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(199, 199, 199, 0.30);
}
.img-block li img {
    margin: -60px auto 0;
}
.img-block li:first-child img {
    margin-top: 0;
}
.img-block li:nth-child(1) {
    width: 50%;
    margin: 0 auto;
}
.img-block li:nth-child(2) {
    width: 66.6667%;
    margin: 0 auto;
}
.img-block li:nth-child(3) {
    width: 83.3333%;
    margin: 0 auto;
}


/*Team CSS Starts*/
#page-team{
    background: #edf1f2;
}

.team-block img {
    bottom: -10px;
    position: relative;
    z-index: 1;
    transition: .3s;
    margin: 0 auto;
}
.team-desc {
    background: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.team-name {
    padding: 10px 0;
}
.team-socials {
    display: inline-block;
    padding-top: 15px;
    padding-left: 0;
}
.team-socials li {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}
.team-socials li a {
    color: #2d2d2d;
}
.team-socials i {
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
}
.team-socials .fb i:hover {
    color: #3A5795;
    transition-duration: 0.4s;
}
.team-socials .twt i:hover {
    color: #1DA1F2;
    transition-duration: 0.4s;
}
.team-socials .skype i:hover {
    color: #00AFF0;
    transition-duration: 0.4s;
}
.team-socials .l_in i:hover {
    color: #0077B5;
    transition-duration: 0.4s;
}
.team-block:hover img {
    bottom: 0;
    transition: .3s;
}
.team-desc {
    transition-duration: 0.5s;
}
.team-block:hover .team-desc {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
}
.team-name h4 {
    margin-bottom: 10px;
    font-weight: 600;
}
.team-position p {
    color: #00CCD6;
}
/*Team CSS Ends*/
/*Twitter CSS Starts*/
.twitter-back{
    position: relative;
}
.twitter-back:after{
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url("../images/tweet_team.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 20px;
}

/*Twitter CSS Ends*/
/*======  footer  ======= */

#page-download .footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}
.footer {
    padding: 10px 0;
    background-color: #f3f3f3;
}
.footer p {
    font-size: 12px;
    color: #abb0b9;
    font-weight: 300;
    margin: 0 auto;
}
/*======  modal  ======= */

.basic-modal {
    display: none;
}
.modal-close {
    background-color: #0fd59d;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 12px;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -15px;
    width: 30px;
}
.modal-close:hover,
.modal-close:focus {
    background-color: #0fd59d;
    color: #fff;
}
.basic-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.basic-modal-content {
    height: 360px;
    position: fixed;
    max-width: 600px;
    width: 100%;
    margin: -180px auto;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #fff;
    padding: 8px;
    z-index: 9999;
}
iframe {
    width: 100%;
    border: 0;
    height: 343px;
}
/*Nav-bar*/

.navbar-none,
.menu-button-none,
.pages-nav-none {
    display: none;
}
/*======  Contactform  ======= */

.ContactWrap,
.mediawrap {
    padding-top: 103px;
}
.form-group {
    margin-bottom: 23px;
}
.cont_details h3{
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 600;
    color: #07598d;
}
.cont_details span{
    font-size: 16px;
}

.cont_social_icon i{
    color: #333;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.cont_social_icon .fa-facebook:hover{
    opacity: 1;
    color:#3C5A98;
}
.cont_social_icon .fa-twitter:hover{
    opacity: 1;
    color:#00ACED;
}
.cont_social_icon .fa-google-plus:hover{
    opacity: 1;
    color:#D34836;
}
.cont_social_icon .fa-linkedin:hover{
    opacity: 1;
    color:#007AB9;
}
.cont_social_icon .fa-pinterest-p:hover{
    opacity: 1;
    color:#CB2026;
}
.buttonsWrap {
    display: table;
    margin: 20px auto 20px;
}
.buttonsWrap .btn {
    font-size: 18px;
    margin: 10px;
    padding: 12px 25px 12px 60px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
}
.buttonsWrap .btn i {
    font-size: 18px;
    left: 25px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
.this-fb {
    background-color: #3c8ed3;
    border-color: #3c8ed3;
}
.this-tw {
    background-color: #17b8f5;
    border-color: #17b8f5;
}

textarea.form-control {
    height: 245px;
}
.submit-form {
    font-weight: 700;
    border:1px solid #00CCD6;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 140px;
    margin-bottom: 40px;
}
.cont_data{
	font-size: 14px;
    line-height: 1.55556em;
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 1.55556em;
    padding-left: 2.11111em;
    position: relative;
}
.cont_data .fa {
    font-size: 1.33333em;
    left: 0;
    line-height: 1.16667em;
    position: absolute;
    top: 6px;
}
/*======  FeaturesWrap  ======= */
{
    background: #EDF1F2;
}
.features-main{
    position: relative;
}

.FeaturesWrap {
    margin-top: 70px;
}
.features-box {
    padding: 40px 0;
    background-image: url("../images/pro-feature-bg.jpg");
    background-size: cover;
}
.features-box h1{
    font-size: 40px;
    color: #FFFFFF;
}
.features-box h3 {
    color: #124b62;
    font-weight: 300;
    text-align: center;
}
.features-box p {
    float: left;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 30px;

}
.features-block .container .row {
    border-bottom: 1px solid #7f7f7f;
    margin-top: 100px;
    margin-bottom: 100px;
}
.features-block .container .row-last{
    border-bottom: none;
    margin-bottom: 50px;
}
.features-block h3 {
    color: #124b62;
    font-weight: 300;
    margin-bottom: 20px;
}
.Features-Summary .bottom-play-apps-box{
    margin-top: 50px;
    margin-bottom: 0;
}
.bottom-play-apps-box {
    margin: 50px auto;
}
.play-apps-box img{
    cursor: pointer;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.32);
    transition-duration: 0.4s;
    border-radius: 6px;
}
.play-apps-box img:hover{
    box-shadow: none;
     transition-duration: 0.4s;
}
/*======  FeaturesWrap-table  ======= */
.pricing_section{
    background: #edf1f2;
}

.Features-Summary table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto 50px;
}
.Features-Summary table thead tr th {
    vertical-align: middle;
    background: #fbfbfb;
    border: 1px #e9ebeb solid;
    font-size: 25px;
    color: #000000;
    padding: 15px 17px;
    font-weight: 300;
}
.Features-Summary table thead tr th:last-of-type {
    background: #00CCD6;
    color: #fff;
    font-weight: 600;
}
.Features-Summary table thead tr th:nth-child(2),
.Features-Summary table thead tr th:nth-child(3) {
    width: 200px;
    text-align: center;
}
.Features-Summary table tbody tr td {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e9ebeb;
    padding: 15px 25px;
    text-align: center;
    vertical-align: middle;
}
.Features-Summary table tbody tr td:first-of-type {
    text-align: left;
}
.Features-Summary table thead tr th:first-of-type {
    text-align: left;
}
.Features-Summary table tbody tr td:last-of-type {
    background: #00CCD6 none repeat scroll 0 0;
}
.Features-Summary table tbody tr td .child-textWrap strong {
    color: #07598d;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 600;
}
.Features-Summary table tbody tr td .child-textWrap span {
    color: #798893;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
}
.Features-Summary table tbody tr td:last-of-type .child-textWrap strong,
table tbody tr td:last-of-type .child-textWrap span {
    color: #fff;
}
.Features-Summary table tbody tr td .child-iconWrap {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
    position: absolute;
    top:8px;
}
.Features-Summary table tbody tr td .child-textWrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.pricing_txt{
    padding-left: 3.11em;
}
.Features-Summary table tbody tr td .child-iconWrap span {
    width: 42px;
    float: left;
}
.Features-Summary table tbody tr td .child-iconWrap i {
    font-size: 28px;
    color: #00CCD6;
}

/*Video Background*/

/* New-Title Starts */

.title_first_word{
    font-weight: 700;
    font-size: 45px;
    color: #00CCD6;
}

.title_watermark{
    position: absolute;
    left: 50%;
    font-size: 140px;
    font-weight: 900;
    opacity: 0.1;
    margin-left: -50px;
    top: 60%;
    margin-top: -85px;
    transform: rotate(-15deg);
}

.subtitle{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.subtitle_left{
    border-left: 4px solid #00CCD6;
    padding-left: 10px;
}
.subtitle_bolder{
    font-weight: 600;
}
.title:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 165px;
    height: 2px;
    background-color: #00CCD6;
    margin: auto;
}

.download_section .title{
    padding-bottom: 0;
    margin-bottom: 56px;
}

.download_section .title_watermark{
    top:70%;
}

/* New-Title Ends */


/*====== Color Picker =======*/
/* Style switcher */

.color-1 {
    background: #00CCD6;
}
.color-2 {
    background: #e6af4b;
}
.color-3 {
    background: #a68f58;
}
.color-4 {
    background: #BAAD7C;
}
.color-5 {
     background: #23D1B7;
}
.color-6 {
    background: #ff5e76;
}
.color-7 {
    background: #8B4DA5;
}
.color-8 {
    background: #A0CE4E;
}

.color-picker {
    position: fixed;
    left: -239px;
    top: 150px;
    width: 239px;
    background: #e6e6e6;
    z-index: 999999;
    -webkit-transition: all .3s ease;
}
.color-picker a.handle {
    position: absolute;
    top: 0;
    left: 239px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #262626;
    z-index: 9999;
}
.color-picker a.handle i {
    color: white;
    font-size: 25px;
    line-height: 50px;
}
.color-picker .settings-header {
    background: #3c3c3c;
    height: 50px;
    padding: 21px 34px 0 34px;
}
.color-picker .settings-header h3 {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 5px 0;
}
.color-picker .section {
    padding: 20px 20px;
    border-left: 10px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}
.color-picker .section h4 {
    font-size: 16px;
    text-transform: none;
    color: #3c3c3c;
    line-height: 16px;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}
.color-picker .section i {
    font-size: 16px;
    margin-right: 10px;
}
.color-picker span {
    font-size: 13px;
    color: #9a9a9a;
}
.color-picker .colors a {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    float: left;
}
.color-picker .skin a {
    display: block;
    width: 70px;
    height: 30px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 5px;
    float: left;
    text-align: center;
    line-height: 30px;
    border: 2px transparent solid;
}
.color-picker .skin a.actt {
    border: 2px #FFF solid;
}
.highlight-right {
    animation: 2s ease-in 0s normal none infinite running highlight-right;
    margin-top: -100px;
    position: absolute !important;
    right: -20px;
    z-index: 10 !important;
}
.highlight-left {
    animation: 2s ease-in 0s normal none infinite running highlight-left;
    left: -20px;
    margin-top: -100px;
    position: absolute !important;
    z-index: 10 !important;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        transform: scale(0);
    }
}
@-webkit-keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        transform: scale(0)
    }
    70% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        transform: scale(0)
    }
}

/*====== 22.Map Css starts ======= */

.cont_title{
    font-size: 50px;
}
#map{
    height: 500px;
}
.map-box{
    position: relative;
}
.map-boxes{
    position: absolute;
    top: 0;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
    left: 0;
    right: 0;
}
.inner-box{
    border: 1px solid #f0f0f0;
    padding: 50px;
    background: rgba(255, 255, 255, 0.7);
    width: 400px;
    display: inline-block;
    margin-left: 10px;
}
.inner-box h3{
    font-weight: 700;
}
.inner-box i{
    font-size: 40px;
    color: #00CCD6;
}
/*====== 22.Map Css ends ======= */

.client-block{
    background: #00CCD6;
}
.half-image{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #7f7f7f;
}
.half_two_image{
    opacity: 0.5;
    position: relative;
    bottom: -90px;
    transition:all ease-in 0.5s;
}
.half_img_hover{
    overflow: hidden;
}
.half_image_active{
    opacity: 1;
    position: relative;
    bottom: -5px;
    transition:all ease-in 0.5s;
}

.half_icon1{
    background: #ff6000;
}
.half_icon2{
    background: #00CCD6;
}
.half_icon3{
    background: #ffb85b;
}
.icon-block i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 30px;
    color: #fff;
}
.client-block-container{
    padding: 40px 0;
}
.client_hr{
    padding: 80px 0;
}
.features-hr .subtitle{
        font-size: 20px;
    text-transform: capitalize;
    color: #124b62;
    font-weight: 600;
    letter-spacing: 0;
}

/*  24. Features accordion CSS Starts*/

.accordion {
    margin: 40px 0;
}
.accordion .panel {
    margin: 0;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}
.accordion .accordion_title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}
.accordion .accordion_title a:hover i,
.accordion .accordion_title a[aria-expanded="true"] i {
    color: #fff;
}
.accordion .accordion_title a:hover,
.accordion .accordion_title a[aria-expanded="true"] {
    text-decoration: none;
    border-color: #ddd;
    background: #00CCD6;
    color: #fff;
}
.accordion .accordion_title a {
    display: block;
    position: relative;
    color: #222222;
    padding: 14px 20px;
    border: 1px solid #e8e8e8;
    letter-spacing: 3px;
    margin: 10px 0;
}
.accordion .accordion_title a:hover p,
.accordion .accordion_title a[aria-expanded="true"] p {
    font-size: 18px;
    color: #222;
}
.accordion .accordion_title a p {
    font-size: 10px;
    color: #ddd;
}
.accordion .desc {
    color: #000;
    padding: 10px 20px 20px;
    font-size: 14px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.accordion .accordion_title a[aria-expanded="true"]:hover:after,
.accordion .accordion_title a[aria-expanded="true"]:after {
    content: "\f106";
}
.accordion .accordion_title a:after {
    content: "\f107";
    position: absolute;
    top: 30%;
    right: 20px;
    font-family: 'FontAwesome', sans-serif;
    font-size: 15px;
}
.faq-heading {
    padding-left: 30px;
    background: #fff !important;
}

/*Features accordion CSS Ends*/
